---
title: My default title
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title }}</title>
  <link href="/style.css" rel="stylesheet" />
</head>
<body>
  <main>
    {{ content | safe }}
    <hr />
    <small>&copy; {{site.copyrightYear}}</small>
  </main>
</body>
</html>