---
title: My default title
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ site.name }}{% if title %} - {{title}}{% endif %}</title>
  <link href="/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
  <meta name="description" content="
  {% if description %} 
    {{description}}
  {% else %}
    {{ site.description }}
  {% endif %}
  " />
</head>
<body>
  <main>
    {{ content | safe }}
    {% include "partials/footer.njk" %} 
  </main>
</body>
</html>